PUBLIC_SITE_URL=http://127.0.0.1:3000
ADMIN_NOTIFICATION_EMAIL=brian@bncconsulting.co

STRIPE_API_KEY=rk_test_replace_me
STRIPE_WEBHOOK_SIGNING_SECRET=whsec_replace_me
STRIPE_AUTOMATIC_TAX_ENABLED=false

GOOGLE_CLIENT_ID=replace_me.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=replace_me
GOOGLE_OAUTH_REDIRECT_URI=http://127.0.0.1:54321/functions/v1/google-oauth-callback
GOOGLE_WORKSPACE_EMAIL=brian@bncconsulting.co
GOOGLE_WORKSPACE_DOMAIN=bncconsulting.co
GOOGLE_CALENDAR_ID=replace_with_clearstep_workshops_calendar_id

RATE_LIMIT_HASH_SALT=replace_with_a_long_random_value
SEND_EMAIL_HOOK_SECRET=v1,whsec_replace_me
